form(method="post", action="/articles/#{article._id}/comments", role="form")
  input(type='hidden', name='_csrf', value="#{csrf_token}")
  .form-group
    textarea.form-control(type='text', rows="6", name="body", placeholder='添加评论')
  button.btn.btn-primary(type='submit') 添加评论